/*
 *  Default application stylesheet
 */

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: rgba(220, 220, 220, 0.93) url(../images/noise-light.png) top left repeat;

  #header {
    background: rgba(24, 24, 24, .9) url(../images/noise-big.png) top left repeat;
    border-right: 1px solid #000;
    display: inline-block;
    width: 351px;
    float: left;
    clip: rect(0px 3000px 28px 0px);
    box-shadow: 0 -1px 0 0 black inset, 0 1px 0 0 rgba(255, 255, 255, .06) inset;

    .brand {
      border-bottom: 1px solid #000000;
    }

    ul.navigation {
      list-style: none;
      margin: 0;
      padding: 0;
      border-top: 1px solid #000;
      li {
        float: left;
        margin: 0;
        a {
          border-left: 1px solid #111;
          border-right: 1px solid #3A3A3A;
          display: inline-block;
          padding: 8px 10px;
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          text-shadow: 0 1px #000000;
          color: #999999;

          i {
            margin-right: 10px;
          }
        }

        &:first-child a {
          border-left: none;
        }
        &:last-child a {
          border-right: none;
        }
      }
    }
  }
  #section {
    width: 100%;
    height: 100%;

    #settings {
      background: rgba(24, 24, 24, .9) url(../images/noise-big.png) top left repeat;
      border-top: 1px solid #000;
      border-left: 1px solid #333;
      display: inline-block;
      width: 100%;
      clip: rect(0px 3000px 28px 0px);
      box-shadow: 0 -1px 0 0 black inset, 0 1px 0 0 rgba(255, 255, 255, .06) inset;

      span {
        padding: 8px 10px;
      }
    }

    #dashboard {
      height: 100%;
      width: 75%;
      position: relative;
      z-index: 2;
      border-left: 1px solid rgba(43, 43, 43, 0.2);

      #dashboard-view {}

      #placeholder {
        position: absolute;
        top: 25%;
        text-align: center;
        display: inline-block;
        width: 100%;

        .msg {
          margin: 35px 0 auto;
          width: 400px;
          display: inline-block;

          h2, h3, h4 {
            font-family: 'Georgia', serif;
            font-weight: 500;
          }
        }

        #drop-target {
          padding: 30px;
        }
      }
    }

    #sidebar {
      border-right: 1px solid rgba(255, 255, 255, 1);
      width: 350px;
      height: 100%;
      z-index: 1;

      .sidebar {
        display: inline-block;
        width: 100%;

        ul.nav-list {
          li {
            &.nav-header {
              padding: 5px 15px;
            }
            &.divider {
              margin: 0 -15px;
              background-color: rgba(43, 43, 43, 0.2);
              border-bottom: 1px solid rgba(255, 255, 255, 1) ;
            }
            a {
              padding: 5px 15px;
            }
          }
        }

        
      }
    }
  }
  #footer {}

  .soften {
    border-top: 1px dashed #CCCCCC;
    border-bottom: 1px dashed #EEEEEE;
  }
}