<div id="placeholder">
  <div class="msg">
    <h3>Start dragging any node from sidebar into target</h3>
    <h4>Drop your target inside box below</h4>
    <hr class="soften"/>
    <div id="drop-target" class="well">
        <center></center>
    </div>
    <hr class="soften"/>
  </div>
</div>
<div id="graph"></div>