<div id="placeholder">
  <div class="msg">
    <h3>Start dragging any node from sidebar into target</h3>
    <hr class="soften"/>
    <div id="drop-target">
        <center>Drop your target here!</center>
    </div>
    <hr class="soften"/>
    <h4>Or simply double click which item you like</h4>
  </div>
</div>