<div id="content">
  <ul class="nav nav-list">
    <li class="nav-header">
      Pages <i class="icon-plus-sign pull-right"></i>
    </li>
    {{#each this.data}}
      <li class="" draggable="true">
        <a href="#" data-id="{{group}}"><span class="">{{name}}</span></a>
      </li>
    {{/each}}
  </ul>
</div>
